/* .banner {
    height: 700px;
    background-color: rgb(212, 212, 212);
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 50px;
}

.red-circle {
    height: 1500px;
    width: 1500px;
    background: rgb(253, 43, 43);
    background: linear-gradient(
        40deg,
        rgba(253, 43, 43, 1) 40%,
        rgba(255, 119, 119, 1) 70%
    );
    border-radius: 100%;
    position: absolute;
    left: -800px;
    top: -600px;
}

.message {
    vertical-align: middle;
    position: relative;
    font-size: 80px;
    font-weight: bolder;
    color: white;
    width: 500px;
    letter-spacing: 5px;
    padding: 20px;
} */

.banner {
    width: 100%;
    min-height: 90vh;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("../Images/accueil.png");
}
