.header-row {
    background: #fd2b2b;
    color: white;
    box-shadow: rgba(67, 67, 94, 0.27) 0px 0px 20px 0px;
    padding: 10px 20px;
    font-weight: bold;
    position: fixed;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
}

.header-text {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    right: 10px;
}

.menu-icon {
    height: 28px;
    cursor: pointer;
    transition: transform .2s;
     
}

.menu-icon:hover{
    transform: scale(1.2);
}

.logo {
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    margin-top: 2px;
}
