.leaflet-container {
    height: 600px;
}

.leaflet-control-container .leaflet-routing-container-hide { 
}

/* .leaflet-routing-collapse-btn{
    display: block;
    color: red;
    height: 100px;
    width: 300px;
} */

.leaflet-routing-container {
    background-color: white;
    display: none
}
